<% content_for :title, "Editing candidatura" %>

<h1>Editing candidatura</h1>

<%= render "form", candidatura: @candidatura %>

<br>

<div>
  <%= link_to "Show this candidatura", @candidatura %> |
  <%= link_to "Back to candidaturas", candidaturas_path %>
</div>
