<p style="color: green"><%= notice %></p>

<% content_for :title, "Candidaturas" %>

<h1>Candidaturas</h1>

<div id="candidaturas">
  <% @candidaturas.each do |candidatura| %>
    <%= render candidatura %>
    <p>
      <%= link_to "Show this candidatura", candidatura %>
    </p>
  <% end %>
</div>

<%= link_to "New candidatura", new_candidatura_path %>
